@{
    ViewBag.Title = "Услуги";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-info text-center" role="alert">
                <h4 class="alert-heading">Железнодорожная Компания "Хеджхог"</h4>
                <p class="mb-0">
                    Железнодорожная Компания "Хеджхог" - это ведущий провайдер железнодорожных услуг, который предоставляет высококачественные и надежные пассажирские и грузовые перевозки по всему региону. Наша компания стремится предоставить клиентам комфортные и безопасные поездки, а также эффективные и своевременные услуги по перевозке грузов.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center">Комфорт и удобство</h4>
                    <p class="card-text">Мы предлагаем комфортные и удобные поездки с современными удобствами на борту.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center">Безопасность</h4>
                    <p class="card-text">Безопасность наших пассажиров - наш приоритет. Мы соблюдаем высокие стандарты безопасности.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center">Надежность</h4>
                    <p class="card-text">Наша компания славится своей надежностью и пунктуальностью в предоставлении услуг.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center">Широкий выбор маршрутов</h4>
                    <p class="card-text">Мы предлагаем разнообразные маршруты и услуги, чтобы удовлетворить потребности наших клиентов. Путешествуйте вместе с нашей компанией!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center">Экологическая ответственность</h4>
                    <p class="card-text">Мы придерживаемся принципов устойчивого развития и заботимся об окружающей среде, используя топливо, синтезированное в наших лабораториях!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center">Профессиональный персонал</h4>
                    <p class="card-text">Наш профессиональный персонал готов обеспечить вам качественное обслуживание во время вашего путешествия. Периодически они подтверждают свою квалификацию!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p class="fw-normal fs-5">Отзывы наших клиентов</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Иван Петров</h5>
                    <hr>
                    <blockquote class="card-text ">"Отличный сервис! Всегда пользуюсь услугами Хеджхог. Поездки комфортные и безопасные."</blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Елена Сидорова</h5>
                    <hr>
                    <blockquote class="card-text">"Спасибо за качественное обслуживание и вежливый персонал. Очень довольна поездкой!"</blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
