@model BLL.DTO.TrainDTO
@{ ViewData["Title"] = "Создание поезда"; }
@{
    Layout = "_ManagerLayout";
}

<div class="container">
    <h1>Добавление поезда</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateTrain">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Название</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarriageCount" class="control-label">Кол-во вагонов</label>
                    <input asp-for="CarriageCount" class="form-control"/>
                    <span asp-validation-for="CarriageCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarriageId" class="control-label">Вагон</label>
                    <select asp-for="CarriageId" class="form-control" asp-items="@ViewBag.Carriages"></select>
                    <span asp-validation-for="CarriageId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TypeTrainId" class="control-label">Тип поезда</label>
                    <select asp-for="TypeTrainId" class="form-control" asp-items="@ViewBag.TrainTypes"></select>
                    <span asp-validation-for="TypeTrainId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <br>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="ShowAllTrains">Назад</a>
    </div>
</div>