@model BLL.DTO.StationDTO

@{
    Layout = "_ManagerLayout";
}

@{ ViewData["Title"] = "Удаление станции"; }

<div class="container">
    <h1>Удаление станции</h1>

    <h3>Вы действительно хотите удалить?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Номер
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                Название станции
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Название города
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City.Name)
            </dd>
        </dl>
        <br>
        <form asp-action="DeleteStation">
            <input type="submit" value="Удалить" class="btn btn-danger m-1" />
            <a asp-action="ShowAllStations" class="m-1">Назад</a>
        </form>
    </div>
</div>