@model BLL.DTO.TypeCarriageDTO

@{
    Layout = "_ManagerLayout";
}

@{ ViewData["Title"] = "Удаление типа вагона"; }

<div class="container">
    <h1>Удаление типа вагона</h1>

    <h3>Вы действительно хотите удалить?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Номер
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                Имя типа
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TypeName)
            </dd>
            <dt class="col-sm-2">
                Описание
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Фото
            </dt>
            <dd class="col-sm-10">
                <img src="@Url.Content(Model.Photo)" class="img-fluid news-photo" alt="Фото типа поезда">
            </dd>
        </dl>
        <br>
        <form asp-action="DeleteTypeCarriage">
            <input type="submit" value="Удалить" class="btn btn-danger m-1" />
            <a asp-action="ShowAllTypeCarriage" class="m-1">Назад</a>
        </form>
    </div>
</div>