@{
    Layout = "_ManagerLayout";
}

<div class="text-center">
    <h1 class="display-4">Панель менеджера</h1>
    <p>Необходимо выбрать один из пунктов навигационной панели: <br> 1 - работа с маршрутами;<br> 2 - редактирование данных о транспорте.<br>
        3 - редактировать данные об остановках;<br> 4 - Рассмотреть отчетность </p>
    <p>Рассмотреть структуру<a href="https://drawsql.app/teams/my-team-1899/diagrams/railwaystation"> базы данных</a>.</p>
</div>